*{
    font-family: sans-serif;
}

:root {
    --primary-color: #f6f8fd;
    --secondary-color: #dc3545;
    --color-text: #231942;
    --navbar-color: #ffffff;
    --navbar-color-text: #000000;
}

/* login */
.background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
        background: #c6ffdd;
        background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd);
        background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); 
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.648) !important;
    backdrop-filter: saturate(200%) blur(25px);
}
/* end of login */

/*  navbar style */
div .navbar {
    position: fixed;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    width: 100%;
    Background: rgba(255, 255, 255, 0);
    transition: all 0.2s ease;
    z-index: 99999;

    animation-name : fadeInDown;
    animation-duration: 1s;
}

.navbar .color-active {
    background-color: var(--navbar-color);
    padding: 20px 0px 20px 0px ;
    border-bottom: 2px solid #ffffff60;
}

.navbar .nav-link a {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-weight: 500px;
    text-decoration: none;
    color: var(--navbar-color-text);
}

.navbar .nav-link a:hover {
    color: var(--secondary-color);
}

.navbar .nav-link .active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.navbar .nav-link .active:hover{
    color: var(--navbar-color);
}

.navbar {
    background-color: var(--navbar-color);
}
/* end navbar style */


/* homepage style */
header {
    background: #c6ffdd;
    background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd);
    background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); 
}

.homepage .header-box h1{
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--color-text);
    --animate-delay: 0.5s;
}

.homepage .header-box h1 span {
    font-weight: 700;
}

.homepage .header-box p {
    line-height: 2;
    color: var(--color-text);
    font-weight: 500;
}

.homepage .header-box img {
    width: 100%;
}

@media screen and (max-widh: 1228px){
    .homepage .header-box {
        padding-top: 8rem;
    }

    .homepage .header-box img {
        width: 400px;
        display: block;
        margin-inline: auto;
    }
}

@media screen and (max-widh: 575px){
    .homepage .header-box h1 {
        font-size: 3rem;
    }
}

@media screen and (max-widh: 475px){
    .homepage .header-box h1 {
        font-size: 2.4rem;
    }
    
    .homepage .header-box p{
        font-size: 14px;
    }

    .homepage .header-box img {
        width: 300px;
    }
}

@media screen and (max-widh: 375px){
    .homepage .header-box h1 {
        font-size: 2rem;
    }
    
    .homepage .header-box p{
        font-size: 12px;
    }

    .homepage .header-box img {
        width: 300px;
    }
}
/* end homepage style */

/* read users */
.py-5 {
    padding-top: 6rem!important;
    padding-bottom: 3rem!important;
}
/* end read users */





/* footer style */
.footer{
    width: 100%;
    min-height: 60vh;
}

.footer .row:nth-child(1) .col:nth-child(1) h3{
    color: var(--color-text);
}

.footer .row:nth-child(1) .col:nth-child(1) desc{
    color: var(--color-text);
    font-size: 14px;
    line-height: 2;
}

.footer .no a,
.footer .mail a {
    display: flex;
    align-items: center;
    color: black;
    column-gap: 5;
}

.footer .no a:hover,
.footer .mail a:hover {
    color: var(--secondary-color);
}

.footer .row:nth-child(1) .col:nth-child(2){
    gap: 10px;
}

.footer .row:nth-child(1) .col:nth-child(2) a{
    color: #000000;
    text-decoration: none;
    font-size: 14;
}

.footer .row:nth-child(1) .col:nth-child(2) a:hover{
    color: var(--secondary-color);
}

.footer .subcribe {
    display: flex;
    align-items: center;
    gap: 2px;
}

.footer .subcribe input{
    width: 200px;
    height: 38px;
    padding: 5px;
}

.footer .social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .social i{
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer .social i:hover{
    color: var(--secondary-color);
}

.footer .row:nth-child(2){
    margin-top: 100px;
}
/* end footer style*/